/* VerticalSpheres.css */

.spheres-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 575px;
    padding: 20px;
    border: 1px solid #9747ff;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .spheres-container img {
    width: 535px;
    height: 533px;
    margin-bottom: 20px;
  }
  
  .spheres-container img:last-child {
    margin-bottom: 0;
  }
  