@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --alias-token-danger-danger-active: var(--global-token-red-red-active);
  --alias-token-danger-danger-base: var(--global-token-red-red-base);
  --alias-token-danger-danger-hover: var(--global-token-red-red-hover);
  --alias-token-gray-shades-shade-gray-100: var(--global-token-shades-gray-100);
  --alias-token-gray-shades-shade-gray-200: var(--global-token-shades-gray-200);
  --alias-token-gray-shades-shade-gray-300: var(--global-token-shades-gray-300);
  --alias-token-gray-shades-shade-gray-400: var(--global-token-shades-gray-400-hover);
  --alias-token-gray-shades-shade-gray-50: var(--global-token-shades-gray-50);
  --alias-token-gray-shades-shade-gray-500: var(--global-token-shades-gray-500-base);
  --alias-token-gray-shades-shade-gray-600: var(--global-token-shades-gray-600-active);
  --alias-token-gray-shades-shade-gray-700: var(--global-token-shades-gray-700);
  --alias-token-gray-shades-shade-gray-800: var(--global-token-shades-gray-800);
  --alias-token-gray-shades-shade-gray-900: var(--global-token-shades-gray-900);
  --alias-token-primary-primary-100: var(--global-token-blue-blue-100);
  --alias-token-primary-primary-200: var(--global-token-blue-blue-200);
  --alias-token-primary-primary-300: var(--global-token-blue-blue-300);
  --alias-token-primary-primary-400: var(--global-token-blue-blue-400-hover);
  --alias-token-primary-primary-50: var(--global-token-blue-blue-50);
  --alias-token-primary-primary-500: var(--global-token-blue-blue-500-base);
  --alias-token-primary-primary-600: var(--global-token-blue-blue-600-active);
  --alias-token-primary-primary-700: var(--global-token-blue-blue-700);
  --alias-token-primary-primary-800: var(--global-token-blue-blue-800);
  --alias-token-primary-primary-900: var(--global-token-blue-primary-900);
  --alias-token-secondary-secondary-100: var(--global-token-purple-purple-100);
  --alias-token-secondary-secondary-200: var(--global-token-purple-purple-200);
  --alias-token-secondary-secondary-300: var(--global-token-purple-purple-300);
  --alias-token-secondary-secondary-400: var(--global-token-purple-purple-400-hover);
  --alias-token-secondary-secondary-50: var(--global-token-purple-purple-50);
  --alias-token-secondary-secondary-500: var(--global-token-purple-purple-500-base);
  --alias-token-secondary-secondary-600: var(--global-token-purple-purple-600-active);
  --alias-token-secondary-secondary-700: var(--global-token-purple-purple-700);
  --alias-token-secondary-secondary-800: var(--global-token-purple-purple-800);
  --alias-token-secondary-secondary-900: var(--global-token-purple-purple-900);
  --alias-token-success-success-active: var(--global-token-green-green-active);
  --alias-token-success-success-base: var(--global-token-green-green-base);
  --alias-token-success-success-hover: var(--global-token-green-green-hover);
  --alias-token-warning-warning-active: var(--global-token-yellow-yellow-active);
  --alias-token-warning-warning-base: var(--global-token-yellow-yellow-base);
  --alias-token-warning-warning-hover: var(--global-token-yellow-yellow-hover);
  --alias-token-white-shade-white-shade-100: var(--global-token-white-white-100);
  --alias-token-white-shade-white-shade-200: var(--global-token-white-white-200);
  --alias-token-white-shade-white-shade-300: var(--global-token-white-white-300);
  --alias-token-white-shade-white-shade-400: var(--global-token-white-white-400-hover);
  --alias-token-white-shade-white-shade-50: var(--global-token-white-white-50);
  --alias-token-white-shade-white-shade-500: var(--global-token-white-white-500-base);
  --alias-token-white-shade-white-shade-600: var(--global-token-white-white-600-active);
  --alias-token-white-shade-white-shade-700: var(--global-token-white-white-700);
  --alias-token-white-shade-white-shade-800: var(--global-token-white-white-800);
  --alias-token-white-shade-white-shade-900: var(--global-token-white-white-900);
  --custom-token-advance: rgba(255, 153, 0, 0.1);
  --custom-token-beginer: rgba(15, 118, 61, 0.1);
  --custom-token-expert: rgba(157, 43, 43, 0.1);
  --custom-token-green-bg: rgba(15, 118, 61, 0.1);
  --custom-token-red-bg: rgba(157, 43, 43, 0.1);
  --custom-token-surface-glass-bg: rgba(255, 255, 255, 0.05);
  --custom-token-surface-header: rgba(30, 33, 68, 0.1);
  --custom-token-surface-primary: var(--alias-token-gray-shades-shade-gray-900);
  --global-token-blue-blue-100: rgba(198, 200, 226, 1);
  --global-token-blue-blue-200: rgba(171, 174, 213, 1);
  --global-token-blue-blue-300: rgba(132, 137, 193, 1);
  --global-token-blue-blue-400-hover: rgba(109, 114, 181, 1);
  --global-token-blue-blue-50: rgba(237, 237, 246, 1);
  --global-token-blue-blue-500-base: rgba(72, 79, 163, 1);
  --global-token-blue-blue-600-active: rgba(66, 72, 148, 1);
  --global-token-blue-blue-700: rgba(51, 56, 116, 1);
  --global-token-blue-blue-800: rgba(40, 43, 90, 1);
  --global-token-blue-primary-900: rgba(30, 33, 68, 1);
  --global-token-green-green-active: rgba(15, 118, 61, 1);
  --global-token-green-green-base: rgba(23, 170, 88, 1);
  --global-token-green-green-hover: rgba(40, 199, 111, 1);
  --global-token-purple-purple-100: rgba(223, 196, 243, 1);
  --global-token-purple-purple-200: rgba(208, 168, 237, 1);
  --global-token-purple-purple-300: rgba(187, 128, 228, 1);
  --global-token-purple-purple-400-hover: rgba(173, 103, 223, 1);
  --global-token-purple-purple-50: rgba(245, 236, 251, 1);
  --global-token-purple-purple-500-base: rgba(153, 65, 215, 1);
  --global-token-purple-purple-600-active: rgba(139, 59, 196, 1);
  --global-token-purple-purple-700: rgba(109, 46, 153, 1);
  --global-token-purple-purple-800: rgba(84, 36, 118, 1);
  --global-token-purple-purple-900: rgba(64, 27, 90, 1);
  --global-token-red-red-active: rgba(157, 43, 43, 1);
  --global-token-red-red-base: rgba(199, 55, 56, 1);
  --global-token-red-red-hover: rgba(227, 72, 73, 1);
  --global-token-shades-gray-100: rgba(186, 186, 186, 1);
  --global-token-shades-gray-200: rgba(153, 153, 153, 1);
  --global-token-shades-gray-300: rgba(106, 106, 106, 1);
  --global-token-shades-gray-400-hover: rgba(77, 77, 77, 1);
  --global-token-shades-gray-50: rgba(233, 233, 233, 1);
  --global-token-shades-gray-500-base: rgba(33, 33, 33, 1);
  --global-token-shades-gray-600-active: rgba(30, 30, 30, 1);
  --global-token-shades-gray-700: rgba(23, 23, 23, 1);
  --global-token-shades-gray-800: rgba(18, 18, 18, 1);
  --global-token-shades-gray-900: rgba(14, 14, 14, 1);
  --global-token-white-white-100: rgba(248, 248, 248, 1);
  --global-token-white-white-200: rgba(244, 244, 244, 1);
  --global-token-white-white-300: rgba(240, 240, 240, 1);
  --global-token-white-white-400-hover: rgba(237, 237, 237, 1);
  --global-token-white-white-50: rgba(253, 253, 253, 1);
  --global-token-white-white-500-base: rgba(232, 232, 232, 1);
  --global-token-white-white-600-active: rgba(211, 211, 211, 1);
  --global-token-white-white-700: rgba(165, 165, 165, 1);
  --global-token-white-white-800: rgba(128, 128, 128, 1);
  --global-token-white-white-900: rgba(97, 97, 97, 1);
  --global-token-yellow-yellow-active: rgba(178, 115, 54, 1);
  --global-token-yellow-yellow-base: rgba(221, 137, 56, 1);
  --global-token-yellow-yellow-hover: rgba(240, 149, 62, 1);
  --gradiant-1: var(--custom-token-surface-glass-bg);
}
